---
layout: default
---
<div id="main">
    <article>
        <header class="major">
<!--
           <a href="/" class="button icon fa-home">Home</a>
           <a href="/About.html" class="button icon fa-area-chart">About</a>
           <a href="/archive.html" class="button icon fa-archive">Archive</a>
           <a href="/pRojects.html" class="button icon fa-folder-open">pRojects</a>
           <br><br>
-->
           
           
            <h2 class="post-title">{{ page.title }}</h2>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}             
            {% if site.twitter %}
            {% include twitter_button.html %}
            {% endif %}

            {% if site.linkedin %}
            {% include linkedin_button.html %}
            {% endif %}
            
            {% if site.googleplus %}
            {% include googleplus_button.html %}
            {% endif %}
            
            {% if site.facebooklike %}
            {% include facebook_like_button.html %}
            {% endif %}

            </p>
        </header>

        <section>

            {{ content }}
            {% if site.facebook %}
            {% include facebook_button.html %}
            {% endif %}
            
            {% if site.facebooklike %}
            {% include facebook_like_button.html %}
            {% endif %}
            
            {% if site.twitter %}
            {% include twitter_button.html %}
            {% endif %}
            
            {% if site.linkedin %}
            {% include linkedin_button.html %}
            {% endif %}
            
            {% if site.googleplus %}
            {% include googleplus_button.html %}
            {% endif %}
            
            {% if site.disqus %}
            {% include disqus_comments.html %}
            {% endif %}
        </section>
        
        <footer>
            <div class="row">
            {% if page.previous %}
            
                <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt">
                    <header>
                        <h2><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h2>
                    </header>
                    <section>
                        {{ page.previous.excerpt }}
                    </section>
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ page.previous.url }}" class="button">Read More</a></li>
                        </ul>
                    </footer>
                </article>
            {% endif %}
            
            {% if page.next %}
            
                <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt f-right">
                    <header>
                        <h2><a href="{{ page.next.url }}">{{ page.next.title }}</a></h2>
                    </header>
                    <section>
                        {{ page.next.excerpt | markdownify }}
                    </section>
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ page.next.url }}" class="button">Read More</a></li>
                        </ul>
                    </footer>
                </article>
            {% endif %}
            </div>
        </footer>

    </article>

</div>



